html{
  font-size: 1em; /* 16px */
  line-height: 1.2em;  
	font-family: 'Inter', serif;
  text-rendering: optimizeLegibility;
	height: 100%;
  padding-bottom: 1.2em; 
}

h1{
	font-size: 1.575em; 
  line-height: 1.2em;
  padding-top: 1.2em; 
  padding-bottom: 1.2em; 
  text-transform: uppercase;
  text-align: center;
}

h2{
	font-size: 1.476em; 
	line-height: 1.2em;
  padding-top: 1.2em; 
  padding-bottom: 1.2em; 
}

h3{
	font-size: 1.383em; 
  line-height: 1.2em;
  padding-top: 1.2em; 
  padding-bottom: 1.2em; 
	color: #E1CA96; 
}

p{
	padding-top: 1.2em; 
  padding-bottom: 1.2em; 
}


#wrap{
  padding: 2% 5%;
}

header{
  background-color: grey;
}

#logo{
  clear: left;
}

ul{
  list-style-type: none;
}

nav {
  overflow: hidden;
  background-color: grey;
  position: relative;
}

nav ul li{
  float: none;
}

ul li{
  float: left;
  padding: 14px 16px;
}

ul li a{
  display: block;
  text-decoration: none;
  color: black;
  font-size: 17px;
  padding: 14px 16px;
}

nav a {
  padding: 14px 16px;
}

nav #myLinks {
  display: none;
  background-color: lightgrey;
}

nav a.icon {
  background: none;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

ul li a:hover {
  background-color: pink;
}

img{
  width: 50%;
}

#socials{
  float: right;
}

.rowb{
	padding: 20px;
	border-top: 1px solid;
}

.rowb2{
	padding: 20px;
  border-top: 1px solid;
	border-bottom: 1px solid;
}

footer{
  clear: both;
  width: 100%;
  background-color: grey;
  overflow: hidden;
}

footer ul{
  float: left;
}


