html{
  font-size: 1em; /* 16px */
  line-height: 1.2em;  
	font-family: 'Inter', serif;
  text-rendering: optimizeLegibility;
	height: 100%;
  padding-bottom: 1.2em; 
}

h1{
	font-size: 1.575em; 
  line-height: 1.2em;
  padding-top: 1.2em; 
  padding-bottom: 1.2em; 
  text-transform: uppercase;
  text-align: center;
}

h2{
	font-size: 1.476em; 
	line-height: 1.2em;
  padding-top: 1.2em; 
  padding-bottom: 1.2em; 
}

h3{
	font-size: 1.383em; 
  line-height: 1.2em;
  padding-top: 1.2em; 
  padding-bottom: 1.2em; 
	color: #E1CA96; 
}

p{
	padding-top: 1.2em; 
  padding-bottom: 1.2em; 
}


#wrap{
  padding: 2% 5%;
}

header{
  background-color: grey;
}

#logo{
  clear: left;
}

ul{
  list-style-type: none;
  float: right;
}

ul li{
  float: left;
  padding: 10px 20px;
  
}

ul li a{
  display: block;
  text-decoration: none;
 
}

#socials{
  float: right;
}

.rowb{
	padding: 20px;
	border-top: 1px solid;
}

.rowb2{
	padding: 20px;
  border-top: 1px solid;
	border-bottom: 1px solid;
}

footer{
  clear: both;
  width: 100%;
  background-color: grey;
  overflow: hidden;
}

footer ul{
  float: left;
}


